extends ../node_modules/jade-bootstrap/_bootstrap.pug

append styles
	// Custom styles for this template
	link(href='/css/index.css', rel="stylesheet")
	link(href='/css/build.css', rel="stylesheet")

	script(src='http://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js')
	script(src='https://threejs.org/examples/js/controls/TransformControls.js')

block body
	+navbar(title,"navbar","inverse")
		+nav_item("/") Home
		+nav_item("/build","active") Build
		+nav_item("/browse") Browse
		+nav_item("/about") About


	.row
		.col-md-4.build-form
			h1 Build Project
			.row
				.col-md-6
					a.btn.btn-primary.btn-lg(href='/') Back
				.col-md-6
					a.btn.btn-primary.btn-lg(href='/editor') Next
			.row
				form
					.input-group
						input(type='text', required='')
						span.highlight
						span.bar
						label Name
					.input-group
						input(type='text', required='')
						span.highlight
						span.bar
						label Author

		.col-md-4#threejsscene
			.row#info
				p
					| "W" translate | "E" rotate | "R" scale | "+" increase size | "-" decrease size
					br
					|             Press "Q" to toggle world/local space, keep "Ctrl" down to snap to grid

			.row#addText
				button(onclick='addText()') Add Text
			.row
				script(src='/js/scene.js')
