extends ../node_modules/jade-bootstrap/_bootstrap.pug
append styles
	// Custom styles for this template
	link(href='/css/index.css', rel="stylesheet")
block body
	+navbar(title,"navbar","inverse")
		+nav_item("#","active") Home
		+nav_item("#") About
		+nav_item("#") Contact
	
	.container
		h1= title
		.control-panel
			.row
			.col-sm-9#filled
				| Select Object
			.row
			.col-8.col-sm-6
				| Level 2: .col-8 .col-sm-6
			.col-4.col-sm-6
				| Level 2: .col-4 .col-sm-6
