extends ../node_modules/jade-bootstrap/_bootstrap.pug
append styles
	// Custom styles for this template
	link(href='/css/index.css', rel="stylesheet")
block body
	+navbar(title,"navbar","inverse")
		+nav_item("/","active") Home
		+nav_item("/build") Build
		+nav_item("/browse") Browse
		+nav_item("/about") About
		+nav_item("/kayli") Kayli
		+nav_item("/judy") Judy

	.container
		h1= title
		.control-panel
			.container-fluid
				.row
					.col-md-12
						h3.text-left
							| Build a New Project
						button.btn.btn-info(type='button' onclick="window.location.href='/build'")
							| Add+
						
						h3.text-left
							| Current Projects
						.row
							.col-md-3
								button.btn.btn-default(type='button')
									| BEN101
							.col-md-3
								button.btn.btn-default(type='button')
									| BIO121
							.col-md-3
								button.btn.btn-default(type='button')
									| CHM141
							.col-md-3
								button.btn.btn-default(type='button')
									| CMPSC122
