doctype html
// WORKING ADDTEXT AND UNITY TRANSFORM CONTROLS.
html(lang='en')
  head
    title three.js webgl - transform controls
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    style.
      body {
      margin: 0px;
      background-color: #ffffff;
      color: #fff;
      font-family:Monospace;
      text-align: center;
      font-size: 15px;
      line-height: 30px;
      overflow: hidden;
      }
      #info {
      position: absolute;
      top: 0px; width: 100%;
      padding: 15px;
      z-index:100;
      }
      p {
      color: #000000;
      }
      #threejsscene {
      padding-top: 100px;
      }
  body
    #info
      p
        | "W" translate | "E" rotate | "R" scale | "+" increase size | "-" decrease size
        br
        |             Press "Q" to toggle world/local space, keep "Ctrl" down to snap to grid
    script(src='http://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js')
    script(src='https://threejs.org/examples/js/controls/TransformControls.js')
    #threejsscene
    script(src='/js/scene.js')
    #container
    button(onclick='addText()') Add Text